<a href="https://colab.research.google.com/github/youryharchenko/mathwithpython/blob/main/%D0%A0%D1%8F%D0%B4%D0%B8_%D0%97%D0%B0%D0%B4%D0%B0%D1%87%D1%96_4_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sympy import Sum, symbols, oo, factorial, Limit, Abs, Eq

In [ ]:
n,  an, bn, L  = symbols("n a_n b_n L")

## Задачі на перевірку

В наступних (4-6) задачах треба визначити збіжність за допомогою граничної ознаки порівняння.

### Задача 4

In [ ]:
Sum((1+n)/(1+n**2), (n, 1, oo))

Sum((n + 1)/(n**2 + 1), (n, 1, oo))

### Задача 5

In [ ]:
Sum(1/((n+1)*(n+4)), (n, 1, oo))

Sum(1/((n + 1)*(n + 4)), (n, 1, oo))

### Задача 6

In [ ]:
Sum((n+1)/(n*(n+2)), (n, 1, oo))

Sum((n + 1)/(n*(n + 2)), (n, 1, oo))

### Приклад 2

Ряд

In [ ]:
a_n = 1/(n**2+1)
ser = Sum(a_n, (n, 1, oo))
ser

Sum(1/(n**2 + 1), (n, 1, oo))

#### Вибір еталонного ряду

Загальний член нашого ряду:

In [ ]:
Eq(an, a_n)

Eq(a_n, 1/(n**2 + 1))

Для застосування граничної ознаки порівняння, ми обираємо простіший ряд $∑b_n$, збіжність якого нам відома. Для цього аналізуємо поведінку $a_n$ при великих значеннях $n$. У знаменнику $n^2+1$ домінуючим є член $n^2$, а константа 1 не суттєво впливає на загальну поведінку ряду.

Отже, наш ряд поводиться як $1/n^2$.

Ми вибираємо p-ряд $∑_{n\to\infty}b_n=∑_{n\to\infty}1/n^2$ як еталонний. Цей ряд є збіжним, оскільки його показник $p=2>1$.

#### Застосування граничної ознаки порівняння

Обчислимо границю відношення $a_n$ до $b_n$:

In [ ]:
b_n = 1/n**2
Eq(Limit(an/bn, n, oo), Limit(a_n/b_n, n, oo))

Eq(Limit(a_n/b_n, n, oo, dir='-'), Limit(n**2/(n**2 + 1), n, oo, dir='-'))

Щоб знайти границю, поділимо чисельник і знаменник на найвищу степінь $n$, тобто на $n^2$:

In [ ]:
Eq(L, Limit(1/(1+(1/n**2)), n, oo))

Eq(L, Limit(1/(1 + n**(-2)), n, oo, dir='-'))

При $n\to\infty$, вираз $1/n^2$ прямує до нуля. Отже: $L = \frac{1}{1+0}=1$

#### Висновок

Оскільки границя $L=1$ є скінченним і ненульовим числом, то, згідно з граничною ознакою порівняння, обидва ряди мають однакову поведінку.

Оскільки еталонний ряд збігається, то і заданий ряд також збігається.

In [ ]:
# спитаємо у SymPy чи ряд збігається
ser.is_convergent()

True